@-webkit-keyframes Animation {
    0%{background-position:20% 20%}
    50%{background-position:100% 20%}
    100%{background-position:20% 20%}
}
@-moz-keyframes Animation {
    0%{background-position:20% 20%}
    50%{background-position:100% 100%}
    100%{background-position:20% 20%}
}
@keyframes Animation { 
    0%{background-position:30% 20%}
    50%{background-position:100% 50%}
    100%{background-position:30% 20%}
}
body{
    background: rgb(228, 213, 198);
    background: linear-gradient(90deg, rgb(206, 187, 168) 50%, rgb(44, 82, 92) 100%);
    padding:2px;
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
    
}

.logoFoodies{
    padding: 10px;
    transition: 1s;
}

.logoFoodies:hover{
    padding: 10px;
    -webkit-transform: scale(105%);
    transition: 1s;
}
ul{
padding-left: 0%;
}
a{
    color: black;

}
.center {
    text-align: center;
  }
.bannerTitulo{
    background: rgb(252,194,136);
    background-image:url(../img/BackBanner.jpg) ,radial-gradient(circle, rgba(252,194,136,1) 0%, rgb(241, 76, 11) 120%);
    background-blend-mode: multiply,darken;
    background-size: 1950px;
    background-position: right;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin: 3px;
    -webkit-animation: Animation 100s ease infinite;
    -moz-animation: Animation 100s ease infinite;
    animation: Animation 100s ease infinite;

}

a{
    text-decoration:none;
}
.banner{
    background-position: center;
    background-size: auto;
    border-style: solid;
    border-color: black;
    margin: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
}

/* Principal */

.backTit1{
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3)),url(../img/hamburguesa-2028707.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}


.backTit1:hover, .backTit1:active{
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3)),url(../img/hamburguesa-2028707.jpg);
    background-position: center;
    background-size: cover;    
    -webkit-transform: scale(101%);
    transition: 0.2s;
}

.precio{
    text-align: center;
    display:block;
    align-items: flex-end;
    font-size: 12px;
    margin: 0,5%;
    font-weight: bold;
}
.aclaracion{
    text-align: center;
    display:block;
    align-items: flex-end;
    font-size: 12px;
    color: #444444;
    margin: 1%;
    font-weight: normal;

}
/*---------Banner Burguer------------*/
#banner1 a:hover, a:active{
    background-color: rgba(162, 199, 221, 0.644);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    transition: 0.3s;
}
#banner1 ul ul{
    display:none;
    list-style: none;
    font-weight: bold;
}

#banner1 ul:hover ul, ul:active ul{
    display: block;
    margin: 10px;
}

/* Sub Banner Despliegue Uno*/

.sub-banner1{
    text-align: center;  
    margin: 3%;
}
li.primer_banner li.sub-banner1 {
    display:none;
}
li.primer_banner:hover li.sub-banner1, li.primer_banner:active {
    display:block;
}
li.sub-banner1 li.cont{
    display:none;
}
li.sub-banner1:hover li.cont{
    display:block;
    text-align: left;
}



.categTitulo{
    font-family: 'Waterfall', cursive;
    font-weight: bold;
    font-size: 90px;
    color: rgb(33, 84, 87); /* blanco con borde negro*/
    /*background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;*/
}
.categSubTitulos{
    font-family: 'Dancing Script', cursive;;
    /*font-family: Gobold;*/
    font-size: 40px;
    font-weight: bold;
    /*background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;*/
    padding-left: 2px;
    padding-right: 2px;
}

.categContenidos{
    font-family: Gobold;
    font-size: 15px;
}
@font-face {
    font-family: Gobold;
    src: url(../img/Gobold-Lowplus.otf);
}
@media only screen and (min-width:200px) and (max-width:768px){
	.form-register{
		width: 95%;
	}
}
