@-webkit-keyframes Animation {
    0%{background-position:20% 20%}
    50%{background-position:100% 20%}
    100%{background-position:20% 20%}
}
@-moz-keyframes Animation {
    0%{background-position:20% 20%}
    50%{background-position:100% 100%}
    100%{background-position:20% 20%}
}
@keyframes Animation { 
    0%{background-position:30% 20%}
    50%{background-position:100% 50%}
    100%{background-position:30% 20%}
}
body{
    background: rgb(228, 213, 198);
    background: linear-gradient(90deg, rgb(206, 187, 168) 50%, rgb(53, 96, 107) 100%);
    padding:2px;
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
    
}

.logoFoodies{
    padding: 10px;
    transition: 1s;
}

.logoFoodies:hover{
    padding: 10px;
    -webkit-transform: scale(105%);
    transition: 1s;
}
ul{
padding-left: 0%;
}
a{
    color: black;

}
.center {
    text-align: center;
  }
.bannerTitulo{
    background: rgb(252,194,136);
    background-image:url(../img/BackBanner.jpg) ,radial-gradient(circle, rgba(252,194,136,1) 0%, rgb(241, 76, 11) 120%);
    background-blend-mode: multiply,darken;
    background-size: 1950px;
    background-position: right;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin: 3px;
    -webkit-animation: Animation 100s ease infinite;
    -moz-animation: Animation 100s ease infinite;
    animation: Animation 100s ease infinite;

}

a{
    text-decoration:none;
}
.banner{
    background-position: center;
    background-size: auto;
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    margin: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 10px;
}

/* Principal */

.backTit1{
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3)),url(../img/hamburguesa-2028707.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}


.backTit1:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3)),url(../img/hamburguesa-2028707.jpg);
    background-position: center;
    background-size: cover;    
    -webkit-transform: scale(101%);
    transition: 0.2s;
}

.precio{
    text-align: center;
    display:block;
    align-items: flex-end;
    font-size: 12px;
    margin: 0,5%;
    font-weight: bold;
}
.aclaracion{
    text-align: center;
    display:block;
    align-items: flex-end;
    font-size: 12px;
    color: #444444;
    margin: 1%;
    font-weight: normal;

}
/*---------Banner Burguer------------*/
#banner1 a:hover{
    background-color: rgb(162, 199, 221);
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    padding: 6px;
    transition: 0.3s;
}
#banner1 ul ul{
    display:none;
    list-style: none;
    font-weight: bold;
}

#banner1 ul:hover ul{
    display: block;
    margin: 10px;
}

/* Sub Banner Despliegue Uno*/

.sub-banner1{
    text-align: center;  
    margin: 3%;
}
li.primer_banner li.sub-banner1 {
    display:none;
}
li.primer_banner:hover li.sub-banner1 {
    display:block;
}
li.sub-banner1 li.cont{
    display:none;
}
li.sub-banner1:hover li.cont{
    display:block;
    text-align: left;
}

/*---------Banner Juan------------*/
/* CSS PARA POP UP ORDEN */

*{
    margin: 0;
    padding:20;
    box-sizing: border-box;

}
.wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    transition: 0.4s;
    opacity: 0;
    display: grid;
    place-items: center;
    margin-top: -3px;
}

.wrapper:target{
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.wrapper:target #Form_Orden{
    filter: blur(10px);
}

.form-register{
    width: 400px;
    height: auto;
    background: #FFAD33;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    color:black;
    box-shadow: 7px 13px 37px #FFC233;
}
.form-register h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-register .txt{
    padding: 20px ;
    
}
.controls {
    width: 100%;
    background: #ebdcc5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ebdcc5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.form-register .botons{
    width: 100%;
    background: #ebdcc5;
    border: none;
    padding: 12px;
    color: #0f0c06;
    margin: 16px 0;
    font-size: 16px;
}

.close{
    background-color: rgb(247, 132, 0);
    height: 50px;
    width:  50px;
    padding: 18px;
    padding-left: 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    display: block;
    float: right;
    margin: -20px;
    font-family: Arial, Helvetica, sans-serif;

}

.botons:hover{
    opacity:0.8;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-but{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    padding: 10px;
    background-color: white;
    color: black;
    margin-left: 20%;
    margin-right: 20%;

}


.categTitulo{
    font-family: Gobold;
    font-size: 40px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    padding: 2px;
}
.categSubTitulos{
    font-family: Gobold;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

.categContenidos{
    font-family: Gobold;
    font-size: 15px;
}
@font-face {
    font-family: Gobold;
    src: url(../img/Gobold-Lowplus.otf);
}
@media only screen and (min-width:200px) and (max-width:768px){
	.form-register{
		width: 95%;
	}
}

/* POP AD DE IMAGENES */


/*IMG 1*/
.contenedor1{
	width: 400px;
	height: 300px;
	margin: auto;
    background-image:url(../img/hamburguesa-2028707.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:150%;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}

.modal1{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal1{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
.modal1:target{
	opacity: 1;
	visibility: visible;
} 

.modal1:target .contenedor1{
	transform: translateY(0%);
} 
.contenedor1 header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor1 label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
    background-color: rgb(247, 132, 0);
}
#btn-modal1{
	display: none;
}
.lbl-modal1{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor1{
		width: 95%;
	}
}


/* IMG2 */

.contenedor2{
	width: 400px;
	height: 300px;
	margin: auto;
    background-image:url(../img/hamburguesa-2028707.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:150%;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}

.modal2{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal2{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
.modal2:target{
	opacity: 1;
	visibility: visible;
} 

.modal2:target .contenedor2{
	transform: translateY(0%);
} 
.contenedor2 header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor2 label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
    background-color: rgb(247, 132, 0);
}
#btn-modal2{
	display: none;
}
.lbl-modal2{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor2{
		width: 95%;
	}
}